<%- include('../partials/adminheader') %>

<div class="page-wrapper" style="background: linear-gradient(131deg, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title text-white">Product Data Details</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-white text-decoration-none fw-bold" href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item active text-white fw-bold" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <!-- Category Table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="background-color: rgb(54, 68, 87);">
                        <h5 class="card-title text-white mb-3">Category Product Data Table</h5>
                        <table class="table table-striped table-borderless table-dark table-hover">
                            <thead class="thead-success">
                                <tr>
                                    <th>#</th>
                                    <th>Category Name</th>
                                    <th>Category Images</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach((cat, index) => { %>
                                    <tr>
                                        <th class="align-middle" scope="row"><%= index + 1 %></th>
                                        <td class="align-middle"><%= cat.name %></td>
                                        <td class="align-middle"><img src="/<%= cat.image %>" width="80" alt="Category Image" /></td>
                                        <td class="align-middle"><a href="/category/delete/<%= cat.id %>" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subcategory Table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="background-color: rgb(54, 68, 87);">
                        <h5 class="card-title text-white mb-3">Subcategory Product Data Table</h5>
                        <table class="table table-striped table-borderless table-dark table-hover">
                            <thead class="thead-success">
                                <tr>
                                    <th>#</th>
                                    <th>Subcategory Name</th>
                                    <th>Subcategory Images</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% subCategories.forEach((sub, index) => { %>
                                    <tr>
                                        <th class="align-middle" scope="row"><%= index + 1 %></th>
                                        <td class="align-middle"><%= sub.name %></td>
                                        <td class="align-middle"><img src="/<%= sub.image %>" width="80" alt="Subcategory Image" /></td>
                                        <td class="align-middle"><a href="/subcategory/delete/<%= sub._id %>" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Extra Category Table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="background-color: rgb(54, 68, 87);">
                        <h5 class="card-title text-white mb-3">Extra Category Product Data Table</h5>
                        <table class="table table-striped table-borderless table-dark table-hover">
                            <thead class="thead-success">
                                <tr>
                                    <th>#</th>
                                    <th>Extra Category Name</th>
                                    <th>Extra Category Images</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% extraCategories.forEach((extra, index) => { %>
                                    <tr>
                                        <th class="align-middle" scope="row"><%= index + 1 %></th>
                                        <td class="align-middle"><%= extra.name %></td>
                                        <td class="align-middle"><img src="/<%= extra.image %>" width="80" alt="Extra Category Image" /></td>
                                        <td class="align-middle"><a href="/extracategory/delete/<%= extra._id %>" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('../partials/adminfooter') %>
